<%= form_for(@classroom) do |f| %>
<% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2>Encontramos alguns erros:<%= pluralize(@classroom.errors.count, "error") %> </h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-12">
      <%= f.collection_select :student, Student.all, :id, :name, prompt: "Select a student" %>
      <%= f.collection_select :course, Course.all, :id, :name, prompt: "Select a course" %>
      <div class="col-md-4 pull-right">
        <div class="pull-right">
          <%= link_to 'Back', classrooms_path, class: "btn btn-info" %>
          <%= f.submit 'Save', class: "btn btn-info" %>
        </div>
      </div>
    </div>
<% end %>
