<div class="col-md-1"></div>
<div class="container">
  <div class="col-md-10" id="show-model-container">
    <p id="notice" class="alert-success"><%= notice %></p>
    This classroom was created on <%= @classroom.entry_at.strftime('%A, %d %B %Y %H:%M:%S') %>
    <p>Student: <%= @classroom.student.name %></p>

    <p>Course: <%= @classroom.course.name %></p>
    <%= link_to 'Back', classrooms_path, class: "btn btn-info pull-right" %>
  </div>
</div>
<div class="col-md-1"></div>



