
<%= form_for(@course) do |f| %>
<% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>Encontramos alguns erros:<%= pluralize(@course.errors.count, "error") %> </h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Status" %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
