<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Número de Registro:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Voltar', courses_path %>
